{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block head %}
<link rel="stylesheet" href="{% sass_src 'scss/login.scss' %}">
{% endblock head %}

{% block content %}
<h1>Byt lösenord</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="reset_code">Återställningskod</label>
        <input required type="text" name="reset_code" class="form-control" required value={{ reset_code|default_if_none:"" }}>
    </div>
    <div class="form-group">
        <label for="password">Lösenord</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="repeat_password">Återupprepa lösenord</label>
        <input type="password" name="repeat_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Byt lösenord</button>
</form>

<br />

{% if failed %}
    {% if error_message %}
        <p class="error">
            {{ error_message }}
        </p>
    {% else %}
        <p class="error">
            Något gick fel. Kontrollera att du angav rätt återställningskod.
        </p>
    {% endif %}
{% endif %}

{% endblock content %}
